
{% extends 'AdminBundle:Default:index.html.twig' %}

{% block body %}

    <h1>Wybierz kolejkę!</h1>

    {% for val in 1..roundNumber %}
        <a href="{{ path('add_match', { 'roundNumber': val }) }}"><button type="button" class="btn btn-success">Kolejka {{ val }}</button></a>
    {% endfor %}


{% endblock %}