{% extends 'AdminBundle:Default:index.html.twig' %}

{% block body %}
    <h1>Tekst</h1>
    <textarea id="text">Tutaj bedzie wczytany tekst</textarea>
    <input id="button" type="submit">
{% endblock %}
